<div class="border rounded-3 p-2 my-2" id="<%= dom_id blog %>">
  <div class="d-flex justify-content-between">
    <div>
      <p>
        <strong>Title:</strong>
        <%= blog.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= blog.description %>
      </p>

      <p>
        <strong>Created by:</strong>
        <%= blog.user.user_name %>
      </p>
    </div>

    <div>
      <%= image_tag blog.cover_image, size: "150x120" %>
    </div>
  </div>
</div>
