<div class="container w-75">
  <p style="color: green"><%= notice %></p>

  <%= render @blog %>

  <div>
    <% if user_authorized?(@blog) %>    
      <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
      <%= link_to "Back to blogs", blogs_path %><br>
      <%= button_to "Destroy this blog", @blog, method: :delete, class: "btn btn-danger rounded-1 mt-1" %>
    <% else %>
      <%= link_to "Back to blogs", blogs_path %>
    <% end %>
  </div>

  <div class="mt-5">
    <%= link_to 'Posts', blog_posts_path(@blog), class: 'btn btn-primary rounded-5' %>
  </div>
</div>
