<div class="container border rounded-3 p-3 my-3 text-center" id="<%= dom_id post %>">
  <div>
    <%= image_tag post.post_image, size: '350x300', class: "img-fluid" if post.post_image.attached? %>
  </div>
  
  <div>
    <div class="fs-2 "><%= post.title %></div>

    <div><%= post.content %></div>

    <div>Category: <%= post.post_category.name %></div>

    <% if action_name == "show" %>
      <div class="container d-flex justify-content-center">
        <div class="m-auto me-0">
          <% if post_liked(post) %>
            <% like_id = post.likes.find_by_user_id(current_user).id %>
            <%= button_to raw('<i class="fa-solid fa-thumbs-up fa-xl"></i>'), blog_post_like_path(@post.blog_id, post, like_id), method: :delete, class: "btn" %>
          <% else %>
            <%= button_to raw('<i class="fa-regular fa-thumbs-up fa-xl"></i>'), blog_post_likes_path(@post.blog_id, @post), class: "btn" %>
          <% end %>
        </div>

        <div class="m-auto ms-0">
          <%= @post.likes.count %>
        </div>
      </div>
    
      <div>
        <% if user_authorized?(post) %>
          <%= link_to "Edit this post", edit_blog_post_path(@blog, post) %> |
          <%= link_to "Back to posts", blog_posts_path(@blog) %>
          <%= button_to "Destroy this post", blog_post_path(@blog, post), method: :delete, class: "btn btn-danger rounded-1 mt-1" %>
        <% else %>
          <%= link_to "Back to posts", blog_posts_path(@blog) %>
        <% end %>
      </div>
    <% else %>
      <%= link_to "Show this post", blog_post_path(@blog, post) %>
    <% end %>
  </div>
</div>
